/*
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: #555;
  
}*/
/* nav {
  display: flex;
  flex-flow: row wrap;
justify-content: flex-end; 
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
    font-family: 'Poppins', sans-serif;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    background-color: #FF7009;
    color:#F8F8F8;
    padding: 6px 6px;
    font-size: 2rem;
    border-radius: 4px;
    width: fit-content;
}

/* .header{
    border-bottom: 1px solid #E2E8F0;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
    background-color: #4F46E5;

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #F8F8F8;
}

.nav-link:hover , .nav-logo:hover{
    color: #D9D9D9;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #F8F8F8;
}

.hero {
    height: 80vh;
    background-color: #4F46E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
    color: #F8F8F8;
}
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}
.hero-heading {
    font-size: 6rem;
    font-weight: 700;
}
.hero-subheading {
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0rem;
}
.hero-img {
  /* min-width: 350px; */
  max-width: 350px;
  height: auto;
}
#hero-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.services {
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.services-parent {
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    height: 60vh;
   
}
.services-child {
    width:25%;

}
.services-tag {
    
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2rem 0rem;
    opacity: 80%;
    
}
.services-heading {
    
    font-size: 2.25rem;
    font-weight: 700;
    padding: 2rem 0rem;
    opacity: 100%;
    
}
.services-expln {
    
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0rem  0rem;
    opacity: 95%;
    
}
@media only screen and (max-width: 1065px) {
    .hero {
        height: 120vh;
    }
   
@media only screen and (max-width: 850px) {
.hero {
    flex-direction: column;
    height: 100vh;
}
#hero-img {
    justify-content: center;
}
.hero-heading {
    font-size: 4rem;
    font-weight: 600;
}
.hero-subheading {
    font-size: 1.5rem;
    font-weight: 400;
}
}
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 1rem 5rem;
    }
    .hero {
        padding: 3rem 5rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #4F46E5;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .services-parent {
        flex-direction: column;
       
    }
    .services-child {
        width:auto;
    
    }
}